/* default */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif Georgian', serif;
}

h1 {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Noto Serif Georgian', serif;
}

sub {
    font-size: 70%;
}

a:focus{
    outline: 2px solid #686868;
}

a:hover {
    text-decoration: underline;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: superscript;
  }

  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }

/* styling header */
.header {
    display: block;
    width: 100%;
}

.topheader {
    display: flex;
    max-width: 100%;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.topheader img {
    display: inline-block;
    width: auto;
    height: 30px;
}

.searchbar {
    display: inline-block;
}

.searchbar input {
    height: 30px;
}

.searchbar button {
    display: inline-block;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: inline-block;
    background-color: #FFB140;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
}

.headernav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #002418;
    padding: 8px 0;
}

.headernav li, .headernav a {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
}

/* styling main body */
.banner {
    display: block;
    width: 100%;
}

.browsebook {
    background-color: #002418;
    padding: 10px;
}

.browsebook h2 {
    color: white;
}

.scrollbook {
    display: block;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding-top: 10px;
}

.scrollbook img {
    display: inline-block;
    height: 70px;
}



/* styling footer */
footer {
    display: flex;
    background-color: #002418;
    color: #ffffff;
    font-size: 0.8em;
    max-width: 100%;
    padding: 8px;
    justify-content: space-between;
    align-items: top;
}

footer div {
    display: inline-block;
    line-height: 1.2;
    word-wrap: break-word;
}

.footer-left {
    width: calc(300px - 8px);
}

.footer-right {
    width: calc(180px - 8px);
}