/* default */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif Georgian', serif;
}

h1 {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Noto Serif Georgian', serif;
}

sub {
    font-size: 70%;
}

a:focus{
    outline: 2px solid #686868;
}

a:hover {
    text-decoration: underline;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: superscript;
  }

  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }

/* styling header */
.header {
    display: block;
    width: 100%;
}

.topheader {
    display: flex;
    max-width: 100%;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.topheader img {
    display: inline-block;
    width: auto;
    height: 30px;
}

.searchbar {
    display: inline-block;
}

.searchbar input {
    height: 30px;
}

.searchbar button {
    display: inline-block;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: inline-block;
    background-color: #FFB140;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
}

.headernav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #002418;
    padding: 8px 0;
}

.headernav li, .headernav a {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
}

/* styling main body */
/* styling banner part */
.banner {
    display: block;
    width: 100%;
}

.browsebook {
    background-color: #002418;
    padding: 10px;
}

.browsebook h2 {
    color: white;
}

.scrollbook {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: grid;    
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
    height: 218px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: both mandatory;
    scrollbar-width: none;
}

.scrollbook img {
    display: block;
    height: 200px;
    scroll-snap-align: center;
}

.scrollbook img:nth-child(1), img:nth-child(9) {
    height: 100px;
}

.scrollbook img:nth-child(2), img:nth-child(8) {
    height: 120px;
}

.scrollbook img:nth-child(3), img:nth-child(7) {
    height: 150px;
}

.scrollbook img:nth-child(4), img:nth-child(6) {
    height: 180px;
}

.scrolldot svg {
    display: block;
    margin: 0 auto;
}

/* styling events part */
.eventbox {
    display: grid;
    padding: 40px;
    line-height: 1.1;
}

.event-intro {
    display: block;
    border: solid 1px black;
    width: 100%;
    height: 150px;
    padding: 10px;
}

.event-details {
    display: block; 
    border-top: solid 0.8px black;  
    width: 100%;
    height: 100px; 
    overflow: scroll;
}

/* styling footer */
footer {
    display: flex;
    background-color: #002418;
    color: #ffffff;
    font-size: 0.8em;
    max-width: 100%;
    padding: 8px;
    justify-content: space-between;
    align-items: top;
}

footer div {
    display: inline-block;
    line-height: 1.2;
    word-wrap: break-word;
}

.footer-left {
    width: calc(300px - 8px);
}

.footer-right {
    width: calc(180px - 8px);
}