/* default */
body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif Georgian', serif;
    position: relative;
}

h1 {
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
}

h3 {
    font-size: 1.5em;
    font-family: 'Libre Baskerville', serif;
}

h4 {
    font-size: 1.2em;
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Noto Serif Georgian', serif;
}

sub {
    font-size: 70%;
}

a:focus{
    outline: 2px solid #686868;
}

a:hover {
    text-decoration: underline;
}

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: superscript;
  }

  .skip-links a{
    position: absolute;
    top: -30em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  .skip-links a:focus{
    top: 0;
  }

/* styling header */
.header {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
}

.topheader {
    display: flex;
    background-color: white;
    max-width: 100%;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}

.topheader img {
    display: inline-block;
    width: auto;
    height: 30px;
}

.searchbar {
    display: inline-block;
}

.searchbar input {
    height: 30px;
}

.searchbar button {
    display: inline-block;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: inline-block;
    background-color: #FFB140;
    vertical-align: middle;
    border-radius: 50%;
    border: none;
}

.topmenu ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #002418;
    padding: 8px 0;
}

.topmenu a {
    position: relative;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}
  
.topmenu a:active {
    color: #D4F5F5;
  }

/* styling main body */
main {
    margin-top: calc(68px + 1.5em);
}

/* styling banner part */
.banner img {
    display: block;
    max-width: 100%;
}

.browsebook {
    background-color: #002418;
    padding: 20px;
}

.browsebook h2 {
    color: white;
}

/* use grid to set scrolling book images */
.scrollbook {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding: 10px 0 10px 0;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1em;
    height: 218px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: both mandatory;
    scrollbar-width: none;
}

.scrollbook img {
    display: block;
    height: 200px;
    scroll-snap-align: center;
}

/* use :nth-child() selector to specify the book img and adjust the size */
.scrollbook img:nth-child(1), img:nth-child(9) {
    height: 100px;
}

.scrollbook img:nth-child(2), img:nth-child(8) {
    height: 120px;
}

.scrollbook img:nth-child(3), img:nth-child(7) {
    height: 150px;
}

.scrollbook img:nth-child(4), img:nth-child(6) {
    height: 180px;
}

.scrolldot svg {
    display: block;
    margin: 0 auto;
}

.main-content {
    padding: 20px 24px 0 24px;
}

/* Use grid to control elements in different viewport */
.event {
    display: grid;
    grid-auto-flow: row;
    line-height: 1.1;
}

.event-box {
    display: block;
    border: solid 1px black;
    padding: 10px;
    margin-top: 10px;
}

.azureish {
    background-color: #CDEAEC;
    border: none;
}

.event-intro {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.event-intro h4 {
    font-weight: bold;
}

.event-more {
    font-family: 'Noto Serif Georgian', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 0.6em;
    background-color: black;
    color: white;
    border-radius: 2em;
    border: none;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

.event-details {
    display: block; 
    margin: 0 auto;
    padding-top: 5px;
    border-top: solid 0.8px black;  
    width: 100%;
    height: 100px; 
    overflow-y: auto;
}

/* styling footer */
footer {
    position: bottom;
    bottom: 0;
    display: flex;
    background-color: #002418;
    color: #ffffff;
    font-size: 0.8em;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    justify-content: space-between;
    align-items: top;
}

footer div {
    display: inline-block;
    line-height: 1.2;
    word-wrap: break-word;
}

.footer-left {
    width: calc(300px - 8px);
}

.footer-right {
    width: calc(180px - 8px);
}